.header{
    background-color:#003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}
.headerContainer.listMode{
    margin: 20px 0px 0px 0px;
}
.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;

}
.headerListItem{
    display: flex;
    align-items: center;
    gap:10px;
}
.headerListItem.active{
    border:1px solid white;
    padding: 10px;
    border-radius: 30px;
}
.headerDesc{
    margin: 20px 0px;
}
.headerBtn{
    background-color: #3678d4;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.headerSearch{
    height: 30px;
    background-color: white;
    border: 3px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}
.headerIcon{
    color: lightgray;
}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerSearchInput{
    border: none;
    outline: none;
}
.headerSearchText{
    color: lightgray;
    cursor: pointer;
}
.date{
    position: absolute;
    top: 50px;
    z-index: 2;
}
.options{
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: rgb(253, 253, 253);
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: -44px 13px 25px -15px rgba(0,0,0,0.58);
    -moz-box-shadow: -44px 13px 25px -15px rgba(0,0,0,0.58);
    box-shadow: -44px 13px 25px -15px rgba(0,0,0,0.58);
}
.optionsItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.optionsCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}
.optionCounterBtn{
    width: 30px;
    height: 30px;
    border: 1px solid #3678d4;
    cursor: pointer;
    color: #3678d4;
    background-color: white;
}
.optionCounterBtn:disabled{
cursor: not-allowed;
}